@font-face {
    font-family: 'seasideresortnfregular';
    src: url('webfontkit/seasrn__-webfont.woff2') format('woff2'),
         url('webfontkit/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minipax-Regular';
    src: url('webfonts/Minipax-Regular.woff2') format('woff2'),
         url('webfonts/Minipax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lack-Regular';
    src: url('webfonts/Lack-Regular.woff2') format('woff2'),
         url('webfonts/Lack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Montchauve';
src: url('Montchauve.otf') format('opentype'),
     url('montchauve.svg') format('svg');
}

html, body {
  padding: 10px;
  margin: auto;
  /*background: #E9E9F2;/*#FFBB00;*/
  font-family:'Courier New';/*'Minipax-Regular';vulf*/
  max-width: 900px;  
}

.box {
width: 400px;
height: 250px;
float: left;
padding: 0px 10px 60px 10px;
}
.screenshot {
width: 400px; 
height: 250px;
overflow: hidden;}

/* Color palette kway:
off white: #E9E9F2;
purple: #2E2E73;
turquoise: #0090A6;
yellow: #F2C600;
red: #F23A46;
*/

.topnav{
  background-color: black;/*0030F2*/
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;/*#FF00D2*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Lack-Regular';
}

.topnav a:hover {
  background-color: #0030F2; /*#0090A6;*/
}


h1, h2 {
  color: black;/*#2E2E73; #0030F2;*/
  /*background-color:white;/*#F2C600;*/
  font-family: 'Lack-Regular';
}

p, li {
    color: black;/*#2E2E73; #0030F2;*/
    max-width: 800px;
}

a {
    color: red;/*#F23A46; #FF00D2;*/
}

img {
  width: 100%;
}
